# IDE
.idea/
.~c9*
.vscode/*

# CI caches
.npm_cache/
.precommit_cache/
.pipenv_cache/

# Python
*.py[cod]
__pycache__/

# Venv
.venv/
venv/
*.egg-info


# sphinx html
docs/build

# Testing
.pytest_cache/
.mypy_cache/
.coverage
tests/**/snapshots/*_actual.png
tests/**/snapshots/*_diff.png

# test coverage
tests/__coverage__
test/__coverage__
coverage-report-pytest
.pytest_cache/
.mypy_cache/
.coverage
.coverage.*

# test profiling
prof/

# terraform
.terraform/
*.terraform.lock.hcl


# Local files
downloads/
pipeline_outputs/
*.gz
*.tsv
*.csv
*.packaged.yaml


.DS_Store
.DS_Store?
secrets.json
