pre-commit==2.12.0 # run 'pre-commit install' initially to install the git hooks
pytest==6.2.3
pytest-randomly==3.6.0
pytest-mock==3.5.1
pylint==2.7.4
pytest-pylint==0.18.0
boto3==1.17.47
boto3-stubs[s3,sts]==1.17.47.0
requests==2.25.1
python-hcl2==2.0.3
stdlib-utils==0.4.4
alembic==1.7.5
semver==2.13.0
# python-on-whales==0.16.0 # for local testing of lambda function
paramiko==2.11.0
sshtunnel==0.4.0
mysqlclient==2.1.0
